/* BUTTONS */
.buttons {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.button.pressed {
  border: 2px solid red;
}

.button {
  display: flex;
  flex-direction: row;
  flex-basis: calc(25% - 40px);
  min-height: 28px;
  border: 2px solid transparent;
  padding: 8px;
  background-color: #c2c2c2;
  border-radius: 16px;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 8px;
  text-decoration: none;
  transition: background-color 250ms ease-in-out, transform 150ms ease;
}

.button .label {
  flex-grow: 1;
  margin: auto 10px;
  text-align: left;
}

button.mapping {
  border: none;
  outline: none;
  background-color: transparent;    
  height: 24px;
  margin: 0;
  padding: 0 4px;
  cursor: pointer;
}

button.mapping:active,
button.mapping:hover {
  outline: none;
  border: none;
}
